# Data Collection

In [23]:
import pandas as pd

## Global Emissions Data

This data is downloaded from the European Commission website, available [here](https://edgar.jrc.ec.europa.eu/report_2024).

Crippa, M., Guizzardi, D., Pagani, F., Banja, M., Muntean, M., Schaaf, E., Monforti-Ferrario, F., Becker, W.E., Quadrelli, R., Risquez Martin, A., Taghavi-Moharamli, P., Köykkä, J., Grassi, G., Rossi, S., Melo, J., Oom, D., Branco, A., San-Miguel, J., Manca, G., Pisoni, E., Vignati, E. and Pekar, F., GHG emissions of all world countries, Publications Office of the European Union, Luxembourg, 2024, doi:10.2760/4002897, JRC138862

In [24]:
emissions_data = pd.read_excel('../data/unprocessed/global_emissions.xlsx', sheet_name='fossil_CO2_by_sector_country_su')
emissions_data = emissions_data.drop(columns=['Substance', 'EDGAR Country Code'])
emissions_data.head()

,Sector,Country,1970,1971,1972,1973,1974,1975,1976,1977,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Agriculture,Afghanistan,0.029229,0.029229,0.029229,0.029229,0.039967,0.045310,0.050600,0.061443,...,0.084490,0.116967,0.163009,0.311300,0.161333,0.151276,0.064795,0.046692,0.023617,0.015142
1,Agriculture,Albania,0.113300,0.113300,0.113300,0.113300,0.113614,0.112514,0.127757,0.135143,...,0.053481,0.056519,0.047405,0.054162,0.046462,0.066419,0.060552,0.048348,0.048536,0.048955
2,Agriculture,Argentina,0.104343,0.104343,0.104343,0.104343,0.087214,0.077314,0.070086,0.111100,...,1.146619,0.892257,1.385790,1.278409,1.592119,1.703062,1.925471,2.124204,2.270616,2.405894
3,Agriculture,Armenia,0.055288,0.055288,0.055288,0.055288,0.059966,0.059966,0.063433,0.071152,...,0.035200,0.033943,0.039443,0.052486,0.051071,0.061024,0.055838,0.044629,0.044911,0.045237
4,Agriculture,Australia,0.311143,0.311143,0.311143,0.311143,0.311143,0.268190,0.246714,0.230633,...,2.182924,2.291771,2.505224,2.641204,2.155371,2.290200,2.664304,3.215666,3.315892,3.426744

In [25]:
# Melt the data so that each row is a unique year, country, sector combination
emissions_data_melted = emissions_data.melt(id_vars=['Sector', 'Country'], var_name='Year', value_name='Emissions')

# Reorder the columns to be year, country, sector, emissions
emissions_data_melted = emissions_data_melted[['Year', 'Country', 'Sector', 'Emissions']]
emissions_data_melted.columns = ['year', 'country', 'sector', 'emissions']

emissions_data_melted.head()

   year      country       sector  emissions
0  1970  Afghanistan  Agriculture   0.029229
1  1970      Albania  Agriculture   0.113300
2  1970    Argentina  Agriculture   0.104343
3  1970      Armenia  Agriculture   0.055288
4  1970    Australia  Agriculture   0.311143

In [26]:
# Export the data to a csv file
emissions_data_melted.to_csv('../data/processed/global_emissions.csv', index=False)

## China Trade Data

## UK Trade Data

## US Trade Data

## EU Trade Data

## Carbon Intensity Data